.custom-height{
    height: 70px;
}

.bg-blue{
    background-color: #55a0f5 !important;
}

.navbar.bg-blue .navbar-nav .nav-link {
  color: #dadcde;
}

.sidenav.logo-blue .app-brand {
  height: 70px;
  background: #55a0f5;
}

/* .navbar.bg-blue {
  background-color: #606c72 !important;
  color: #dadcde;
} */
.navbar.bg-blue .navbar-brand {
  color: #fff;
}
.navbar.bg-blue .navbar-brand:hover, .navbar.bg-blue .navbar-brand:focus {
  color: #fff;
}
.navbar.bg-blue .navbar-nav .nav-link {
  /* color: #dadcde; */
  color: #111111;
}
.navbar.bg-blue .navbar-nav .nav-link:hover, .navbar.bg-blue .navbar-nav .nav-link:focus {
  /* color: #fff; */
  color: #111111;
}
.navbar.bg-blue .navbar-nav .nav-link.disabled {
  color: #a9afb3 !important;
}
.navbar.bg-blue .navbar-nav .show > .nav-link,
.navbar.bg-blue .navbar-nav .active > .nav-link,
.navbar.bg-blue .navbar-nav .nav-link.show,
.navbar.bg-blue .navbar-nav .nav-link.active {
  /* color: #fff; */
  color: #111111;
}
.navbar.bg-blue .navbar-toggler {
  color: #dadcde;
  border-color: rgba(255, 255, 255, 0.15);
}
.navbar.bg-blue .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar.bg-blue .navbar-text {
  color: #dadcde;
}
.navbar.bg-blue .navbar-text a {
  color: #fff;
}
.navbar.bg-blue .navbar-text a:hover, .navbar.bg-blue .navbar-text a:focus {
  color: #fff;
}
.navbar.bg-blue hr {
  border-color: rgba(255, 255, 255, 0.15);
}

.error-message {
    color: #ef4444; /* Tailwind 的 red-500 */
    font-size: 0.875rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

.success-message {
    color: #10b981; /* Tailwind 的 emerald-500 */
    font-size: 0.875rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

/* 全域的顏色邏輯都是這樣 */
.type-active {
    background-color: rgb(209 250 229); /* green-100 */
    color: rgb(6 95 70);               /* green-800 */
}

.type-on-study {
    background-color: rgb(219 234 254); /* blue-100 */
    color: rgb(29 78 216);              /* blue-700 */
}

.type-inactive {
    background-color: rgb(243 244 246); /* slate-100 */
    color: rgb(100 116 139);            /* slate-500 */
}

.type-unknown {
    background-color: rgb(254 249 195); /* yellow-100 */
    color: rgb(202 138 4);              /* yellow-600 */
}

.type-entered-in-error {
    background-color: rgb(254 226 226); /* red-100 */
    color: rgb(239 68 68);              /* red-500 */
}

.type-None {
    background-color: rgb(248 250 252); /* slate-50 */
    color: rgb(148 163 184);            /* slate-400 */
}

.type-completed {
    background-color: rgb(220 252 231); /* green-100 */
    color: rgb(22 163 74);              /* green-600 */
}

.type-final {
    background-color: rgb(224 242 254); /* sky-100 */
    color: rgb(2 132 199);              /* sky-600 */
}

.type-finished {
    background-color: rgb(220 252 231); /* green-100 */
    color: rgb(22 163 74);              /* green-600 */
}

.type-running {
    background-color: rgb(255 237 213); /* orange-100 */
    color: rgb(234 88 12);              /* orange-600 */
}

.Modal_body_class{
  max-height: 90vh; 
  overflow: hidden;
}