.custom-height{
    height: 70px;
}

.bg-blue{
    background-color: #55a0f5 !important;
}

.navbar.bg-blue .navbar-nav .nav-link {
  color: #dadcde;
}

.sidenav.logo-blue .app-brand {
  height: 70px;
  background: #55a0f5;
}

/* .navbar.bg-blue {
  background-color: #606c72 !important;
  color: #dadcde;
} */
.navbar.bg-blue .navbar-brand {
  color: #fff;
}
.navbar.bg-blue .navbar-brand:hover, .navbar.bg-blue .navbar-brand:focus {
  color: #fff;
}
.navbar.bg-blue .navbar-nav .nav-link {
  /* color: #dadcde; */
  color: #111111;
}
.navbar.bg-blue .navbar-nav .nav-link:hover, .navbar.bg-blue .navbar-nav .nav-link:focus {
  /* color: #fff; */
  color: #111111;
}
.navbar.bg-blue .navbar-nav .nav-link.disabled {
  color: #a9afb3 !important;
}
.navbar.bg-blue .navbar-nav .show > .nav-link,
.navbar.bg-blue .navbar-nav .active > .nav-link,
.navbar.bg-blue .navbar-nav .nav-link.show,
.navbar.bg-blue .navbar-nav .nav-link.active {
  /* color: #fff; */
  color: #111111;
}
.navbar.bg-blue .navbar-toggler {
  color: #dadcde;
  border-color: rgba(255, 255, 255, 0.15);
}
.navbar.bg-blue .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar.bg-blue .navbar-text {
  color: #dadcde;
}
.navbar.bg-blue .navbar-text a {
  color: #fff;
}
.navbar.bg-blue .navbar-text a:hover, .navbar.bg-blue .navbar-text a:focus {
  color: #fff;
}
.navbar.bg-blue hr {
  border-color: rgba(255, 255, 255, 0.15);
}



/*小河加的*/
#bi-activity-inSP {
  color: white;
  font-size: 2rem;
}